@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 1px;
  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    border: 1px solid $border-color;
    border-top: none;
    background: #E0DEDE;
  }

  .row-data {
    display: flex;
  }

  .column-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    width: $row-data-width;
    border: 1px solid $border-color;
    border-left: none;
    border-top: none;
    background: #E0DEDE;
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    width: $row-data-width;
    border: 1px solid #EAEAEA;
    border-left: none;
    border-top: none;
    outline: none;
    color: #000;
    
    &.selected {
      border: none;
      outline: 1px solid #3153FF;
    }
  }
}